name: Build and Push Docker Images

on:
    push:
        branches:
            - master

jobs:
    build-user-service:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image for user service
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ikltnuserservice:latest ./user-service/.

            - name: Push Docker image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/ikltnuserservice:latest

            # Test
            - name: Push Docker image to Render
              env:
                  RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
                  RENDER_USER_SERVICE: ${{ secrets.RENDER_USER_SERVICE }}
              run: |
                  curl -X POST "https://api.render.com/v1/services/$RENDER_USER_SERVICE/deploys" \
                       -H "Authorization: Bearer $RENDER_API_KEY" \
                       -H "Content-Type: application/json" \
                       -d '{"image": "${{ secrets.DOCKER_USERNAME }}/ikltnuserservice:latest"}'

    build-property-service:
        runs-on: ubuntu-latest
        # needs: build-user-service # Ensures this job runs after 'build-user-service'

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image for property service
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ikltnpropertyservice:latest ./property-service/.

            - name: Push Docker image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/ikltnpropertyservice:latest

            - name: Install and configure the Koyeb CLI
              uses: koyeb-community/install-koyeb-cli@v2
              with:
                  api_token: '${{ secrets.KOYEB_TOKEN }}'
            - name: Deploy to Koyeb
              run: koyeb service redeploy 93770768-2739-4a5a-8623-2bfdae5836bc

    build-contract-service:
        runs-on: ubuntu-latest
        # needs: build-user-service # Ensures this job runs after 'build-user-service'

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image for contract service
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ikltncontractservice:latest ./contract-service/.

            - name: Push Docker image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/ikltncontractservice:latest

    build-chat-service:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Log in to Docker Hub
              run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            - name: Build Docker image for chat service
              run: docker build -t ${{ secrets.DOCKER_USERNAME }}/ikltnchatservice:latest ./chat-service/.

            - name: Push Docker image to Docker Hub
              run: docker push ${{ secrets.DOCKER_USERNAME }}/ikltnchatservice:latest

            - name: Install SSH Client and sshpass
              run: |
                  sudo apt-get update
                  sudo apt-get install -y openssh-client sshpass

            - name: Set up SSH
              run: |
                  mkdir -p ~/.ssh
                  chmod 700 ~/.ssh
                  echo -e "Host ${{ secrets.VPS_IP }}\n\tStrictHostKeyChecking no\n" > ~/.ssh/config

            - name: Execute Docker Commands
              run: |
                  sshpass -p ${{ secrets.VPS_PASSWORD }} ssh -tt -o StrictHostKeyChecking=no root@${{ secrets.VPS_IP }} << 'EOF'
                    # Xóa Docker image
                    sudo docker rmi ikltnchatservice

                    # Pull Docker image mới
                    sudo docker pull ikltnchatservice

                    # Stop container cũ
                    sudo docker stop chat-service

                    # Xóa container cũ
                    sudo docker rm chat-service

                    # Run container mới
                    sudo docker run --name chat-service -p 8000:8000 -e QDRANT_URL=${{secrets.QDRANT_URL}} -e QDRANT_API_KEY=${{secrets.QDRANT_API_KEY}} -e QDRANT_PROPERTY_COLLECTION=${{secrets.QDRANT_PROPERTY_COLLECTION}} -e EMBEDDING_MODEL=${{secrets.EMBEDDING_MODEL}} -e GOOGLE_API_KEY=${{secrets.GOOGLE_API_KEY}} -e GOOGLE_MODEL=${{secrets.GOOGLE_MODEL}} -e RABBIT_MQ_URL=${{secrets.RABBIT_MQ_URL}} -e RABBIT_MQ_PROPERTY_QUEUE=${{secrets.RABBIT_MQ_PROPERTY_QUEUE}} -e JWT_ACCESS_SECRET=${{secrets.JWT_ACCESS_SECRET}} -e MONGO_URL=${{secrets.MONGO_URL}} -e DATABASE_NAME=kltn-chat-service -d ikltnchatservice
                  EOF
              env:
                  VPS_PASSWORD: ${{ secrets.VPS_PASSWORD }}
